<div class="post card mb-1 bg-dark" data-id="{{id}}">
    <div class="card-body">
        <h6 class="card-subtitle text-muted">Posted by {{user.username}} {{format_time createdAt}}</h6>
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content}}</p>
        <p class="card-text text-muted"><span><i class="bi bi-chat-square-dots"></i> {{count comments}}</span></p>
    </div>
</div>